/*
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @Descripttion: popconfirm组件变量
 */
:root {
  --nv-popconfirm-background-color: #fff;
  --nv-popconfirm-border-color: #e4e7ed;
  --nv-popconfirm-border-radius: 4px;
  --nv-popconfirm-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --nv-popconfirm-padding: 12px;
  --nv-popconfirm-min-width: 150px;
  --nv-popconfirm-label-margin-bottom: 12px;
  --nv-popconfirm-label-color: #606266;
  --nv-popconfirm-label-font-size: 14px;
  --nv-popconfirm-label-line-height: 1.5;
  --nv-popconfirm-actions-gap: 8px;
  --nv-popconfirm-button-padding: 5px 15px;
  --nv-popconfirm-button-border-color: #dcdfe6;
  --nv-popconfirm-button-border-radius: 4px;
  --nv-popconfirm-button-font-size: 12px;
  --nv-popconfirm-button-text-color: #606266;
}

