/*
 * @Descripttion: 样式全量导出入口
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 *
 * 使用方式：
 * 1. 全量引入样式：import 'nv-elements/styles'
 * 2. 按需引入样式：import 'nv-elements/components/button/style.css'
 */

// 导入全局变量和样式
@import './variables/index.scss';
@import './global/global.style.scss';
