/*
 * @Descripttion: alert组件开放的CSS变量
 * @creater: zhengpeng.ren
 * @since: 2024-12-19
 * @LastAuthor: zhengpeng.ren
 * @lastTime: 2024-12-19
 */
 :root {
   --nv-elements-block-connector: '-';
   --nv-elements-element-connector: '__';
   --nv-elements-modifier-connector: '--';
 }
