@import '../../components/button/variables.scss';
@import '../../components/dropdown/variables.scss';
@import '../../components/input/variables.scss';
@import '../../components/card/variables.scss';
@import '../../components/alert/variables.scss';
@import '../../components/badge/variables.scss';
@import '../../components/tag/variables.scss';
@import '../../components/switch/variables.scss';
@import '../../components/message/variables.scss';
@import '../../components/notification/variables.scss';
@import '../../components/progress/variables.scss';
@import '../../components/slider/variables.scss';
@import '../../components/tabs/variables.scss';
@import '../../components/loading/variables.scss';
@import '../../components/radio/variables.scss';
@import '../../components/checkbox/variables.scss';
@import '../../components/step/variables.scss';
@import '../../components/steps/variables.scss';
@import '../../components/link/variables.scss';
@import '../../components/timeline/variables.scss';
@import '../../components/timeline-item/variables.scss';
@import '../../components/radio-group/variables.scss';
@import '../../components/checkbox-group/variables.scss';
@import '../../components/select/variables.scss';
@import '../../components/option/variables.scss';
@import '../../components/divider/variables.scss';
@import '../../components/empty/variables.scss';
@import '../../components/avatar/variables.scss';
@import '../../components/skeleton/variables.scss';
@import '../../components/statistic/variables.scss';
@import '../../components/back-top/variables.scss';
@import '../../components/tooltip/variables.scss';
@import '../../components/popconfirm/variables.scss';
@import '../../components/popup/variables.scss';
@import '../../components/collapse/variables.scss';
@import '../../components/carousel/variables.scss';
@import '../../components/rate/variables.scss';
@import '../../components/result/variables.scss';
@import '../../components/pagination/variables.scss';
@import '../../components/infinite-scroll/variables.scss';
@import '../../components/modal/variables.scss';
@import '../../components/drawer/variables.scss';
@import '../../components/color-picker/variables.scss';
@import '../../components/nav-menu/variables.scss';
@import '../../components/calendar/variables.scss';
@import '../../components/upload/variables.scss';
@import '../../components/transfer/variables.scss';
@import '../../components/cascader/variables.scss';
@import '../../components/breadcrumb/variables.scss';
@import '../../components/breadcrumb-item/variables.scss';
@import '../../components/table/variables.scss';
