:root {
  --nv-table-row-height: 48px;
  --nv-table-header-height: 48px;
  --nv-table-cell-padding: 0 12px;
  --nv-table-background-color: #ffffff;
  --nv-table-header-background-color: #f5f7fa;
  --nv-table-header-font-color: #606266;
  --nv-table-font-color: #606266;
  --nv-table-border-color: #ebeef5;
  --nv-table-row-hover-background-color: #f5f7fa;
  --nv-table-row-stripe-background-color: #fafafa;
  --nv-table-row-current-background-color: #ecf5ff;
  --nv-table-empty-font-color: #909399;
}
